$colors: (
  primary: (
    100: #fdeee7,
    500: #ff5a05,
    800: #4252cf,
    850: #1f37ff,
    900: #000848,
  ),
  neutral: (
    100: #ffffff,
    200: #fdeee7,
    250: #ebedff,
    300: #fff9f5,
    900: #05000b,
  ),
);
