$type-scale: (
  small: (
    100: 16px,
    101: 17px,
    102: 18px,
    200: 20px,
    250: 25px,
    300: 30px,
    301: 31px,
    302: 25px,
    400: 39px,
    450: 25px,
    500: 29px,
    502: 29px,
    501: 50px,
    700: 55px,
    900: 96px,
  ),
  medium: (
    450: 45px,
    500: 55px,
    502: 35px,
    302: 31px,
  ),
  large: (
    502: 49px,
  ),
);
